body {
    background: #BDBDBD;
}

header {
    height: 60px;
    color: white;
    background: #00838F;
    position: relative;
}

header #logo {
    height: 40px;
    width: 40px;
    background: #006972;
    border-radius: 5px;
    margin: 0 20px;
}
header h2 input {
    background: transparent;
    color: inherit;
    border: 0px none;
    font-size: 16px;
    height: 18px;
    transition: all .2s ease;
    margin: 0 0 4px;
    padding: 0;
    margin-right: 5px;
}
header h2 input:hover {
    background: #0097A7;
}
header h2 {
    font-size: 14px;
}
header #buttons {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    text-align: center;
}
header #buttons > div {
    height: 40px;
    width: 40px;
    border: 3px solid #0097A7;
    border-radius: 3px;
    margin-left: 10px;
    transition: all .2s ease;
}
header #buttons > div:hover {
    background: rgba(0,0,0,0.2);
}
header #buttons i {
    line-height: 36px;
}

#editors {
    padding-bottom: 10px;
    color: white;
    padding-left: 10px;
    position: absolute;
    width: 100%;
    background: #0097A7;
}
#editors .editor {
    background: #0097A7;
    width: 33.33%;
    padding-right: 10px;
}
#editors .editor h4 {
    margin: 5px 0;
}
#editors .editor textarea, #editors .editor .aceeditor {
    width: 100%;
    background: #006975;
    border: 0px none;
    color: inherit;
    font-size: 12px;
    height: 187px;
}
#editors .ace_marker-layer .ace_active-line {
    background: #004952;
}
#editors .ace_gutter-active-line {
	background-color: #00282d;
}
.editor .ace_gutter {
    background: rgba(0,0,0,.3);
}
#preview {
    position: fixed;
    width: 100%;
    top: 283px;
    height: calc(100% - 283px);
    background: white;
}
#editors.vertical {
    width: 320px;
    height: calc(100% - 60px);
}
#editors.vertical .editor {
    width: 100%;
    height: 33.33%;
}
#editors.vertical .editor .aceeditor {
    height: calc(100% - 26px);
}
#editors.vertical + iframe {
    width: calc(100% - 320px);
    height: calc(100% - 60px);
    top: 60px;
    left: 320px;
}
#editors.jsfiddle .editor {
    position: fixed;
    height: calc(50% - 30px);
    width: 50%;
    padding-left: 10px;
}
#editors.jsfiddle .editor .aceeditor {
    height: calc(100% - 36px);
}
#editors.jsfiddle .editor:first-child {
    top: 60px;
    left: 0;
}
#editors.jsfiddle .editor:first-child + * {
    top: 60px;
    left: 50%;
    padding-left: 0;
}
#editors.jsfiddle .editor:last-child {
    top: calc(50% + 30px);
    left: 0;
}
#editors.jsfiddle + iframe {
    width: 50%;
    height: calc(50% - 30px);
    top: calc(50% + 30px);
    right: 0;
}